@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Customers</h2>
@Html.ActionLink("New Customer", "New", "Customers", null, new { @class = "btn btn-primary"})
<br /><br /><br />
<table id="customers" class="table">
    <thead>
        <tr>
            <td>Name</td>
            <td>Membership Type</td>
            <td>Action</td>
        </tr>
    </thead>

    <tbody></tbody>
</table>
@section scripts
{
    <script>
        $(document).ready(function() { 
            var table = $('#customers').DataTable({ // since we're getting the customers via apis, we dont need to render the customers on the server again
                ajax: {
                    url: '/api/customers',
                    dataSrc: '' // could be customers if its something like: data: { count: 10, customers: [...] }
                },
                columns: [ // columns as a array of objects
                    {
                        data: 'name',
                        render: function(data, type, customer) { // custom rendering function to render each row in the table  (data - value of data key, type - type of column, customer - actual object we are rendering)
                            return "<a href='/customers/edit/" + customer.id + "'>" + customer.name + "</a>";
                        }
                    },
                    {
                        data: 'membershipType.name'
                    },
                    {
                        data: 'id',
                        render: function(data) { // custom rendering function to render each row in the table  ()
                            return "<button class='btn btn-danger btn-sm js-delete' data-customer-id=" + data + ">Delete</button<>";
                        }
                    }
                ]
            });

            // need reference to delete button
            $("#customers").on("click",
                '.js-delete',
                function () {
                    var _this = $(this);
                    if (confirm("Are you sure you want to delete this customer?")) {
                        $.ajax({
                            url: '/api/customers/' + _this.attr("data-customer-id"),
                            method: 'DELETE',
                            success: function () {
                                console.log('successfully deleted customer');
                                table.row(_this.parents('tr')).remove().draw();
                            }
                        });
                    }
                });
    });
    </script>
}

